@charset "utf-8";

/*
Typical device breakpoints
Pqns telas - até 600px
Celular - 600px ate 768px
tablet - 769px até 992px
desktop - 992px ate 1200px
grandes telas - > 1200px
*/

@media print{ 
    #celular{
        display: none;
    }
    #tablet{
        display: none;
    }
    #impressora{
        display: block;
    }
    #desktop{
        display: none;
    }
    #tv{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-widht: 992px) { /* tablet */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #celular{
        display: none;
    }
    #tablet{
        display: block;
    }
    #impressora{
        display: none;
    }
    #desktop{
        display: none;
    }
    #tv{
        display: none;
    }
}

@media screen and (min-width: 993px) and (max-widht:1200px){ /* desktop */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #celular{
        display: none;
    }
    #tablet{
        display: none;
    }
    #impressora{
        display: none;
    }
    #desktop{
        display: block;
    }
    #tv{
        display: none;
    }
}

@media screen and (min-widht:1200px){ /* grandes telas */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #celular{
        display: none;
    }
    #tablet{
        display: none;
    }
    #impressora{
        display: none;
    }
    #desktop{
        display: none;
    }
    #tv{
        display: block;
    }
}
